.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*header*/
.header img{
	margin-top: 5px;
}
.header .menu .login a {
	color: #676767;
	font-weight: bold;
	padding-left: 22px;
	font-size: 14px;
	text-decoration: none;
}
.header .menu .login{
	padding-top: 23px;
}
.header .menu a.list{
	font-weight: bold;
	color: black;
	/*padding-left: 40px; */
	padding-left: 22px; 
	font-size: 14px; 
}
.header .menu-list{
	padding-top: 23px;
	margin-left: -9px;
}
.navbar-bot .menu{
	padding-top: 15px;
}
.header .navbar-bot{
	background-color: #d70204;
	height: 51px;
}
.header .navbar-bot{
	margin-left: -25px;
}
.header .navbar-bot a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding: 16px 12px;
	font-size: 15px;
}

.header .navbar-bot li.first a,
.header .navbar-bot li:hover a,
.header .navbar-bot li:focus a{
	background-color: #9d0001;
	transition: 0.5s ease-in-out;
} 
#custom-search-form{
    /* margin-top: -6px;     */
}
.form-control{
    margin-right: -20px;
    margin-left: 21px;
}

/*akhir header*/

/*slider*/
.slider{
	background-color: #e9a400;
	margin-top: -20px;
}
.slider .carousel-inner{
    position: relative;
    z-index: 1;
}
.slider .carousel-capt{
    position: absolute;
    z-index: 2;
    top: 74px;
    left: 0px;
    text-align: left;
}
.slider .left-carousel-control{
	position: absolute;
	z-index: 3;
	top: 250px;
	left: -75px;
}
.slider .right-carousel-control{
	position: absolute;
	z-index: 4;	
	top: 250px;
	right: -75px;
}
.slider .fa-angle-left{
	font-size: 50px;
	color: #cccccc;
}
.slider .fa-angle-right{
	font-size: 50px;
	color: #cccccc;
}
.slider .title{
	font-size: 45px;
	color: black;
}
.slider .subtitle{
	font-size: 17px;
	color: black;
	padding-top: 10px;
}
.slider .btn{
	background-color: #ffd213;
	margin-top: 31px;
	padding: 16px 43px;
}
.slider .btn a{
	color: black;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
}
/*akhir slider*/

/*portfolio*/
.portfolio{
	padding-top: 37px;
	padding-bottom: 4px;
	background-color: #e6e6e6;
}
.tz-gallery{
	position: relative;
	z-index: 1;
}
.tz-gallery .items .capt{
	position: absolute;
	top: 17px;
	right: 10px;
	z-index: 2;
}
.tz-gallery .items img{
	padding-right: 180px;
}
.tz-gallery .items h3{
	font-size: 20px;
	font-weight: bold;
}
.tz-gallery .items a{
	font-size: 11px;
	color: #e9a400;
	font-weight: bold;
	
}
.tz-gallery .items p{
	margin-top: -13px;
	margin-left: 20px;
}
.tz-gallery .items .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 0px;
    border-width: 5px;
    border-color: #d8d8d8;
    transition: 0.5s ease-in-out;
}

.tz-gallery .items .thumbnail:hover {
    transform: scale(1.02);
}

.tz-gallery .items .lightbox img {
    border-radius: 0 0 0 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
.tz-gallery .glyphicon.glyphicon-chevron-right{
	color: white;
	background-color: #e9a400;
	border-radius: 10px;
}
/*akhir portfolio*/

/*product*/
.product{
	/*height: 679px;*/
}
.product h2{
	padding-top: 41px;
}
.product img.left{
	padding-top: 5px;
}
.product img.mid{
	padding-top: 46px;
}
.product img.right{
	padding-top: 26px;
}
.product .title{
	padding-top: 10px;
	font-weight: bold;
	font-size: 17px; color: #000;
}
.product .subtitle{
	font-size: 16px;
	padding-bottom: 29px;
}
.product .btn{
	background-color: #ffd213;
	margin-bottom: 62px;
}
.product a{
	padding: 15px 14px;
	font-weight: bold;
	font-size: 17px;
	color: #000000;
}
.product a.produk{
	color: black;
	font-weight: bold;
	font-size: 17px;
}
.product img.plus{
	margin-top: -7px;
}
.product .carousel-inner{
    position: relative;
    z-index: 1;
}
.product .left-carousel-control{
	position: absolute;
	z-index: 3;
	top: 250px;
	left: -75px;
}
.product .right-carousel-control{
	position: absolute;
	z-index: 4;	
	top: 250;
	right: -75;
}
.product .glyphicon.glyphicon-chevron-left{
	font-size: 50px;
	color: #cccccc;
}
.product .glyphicon.glyphicon-chevron-right{
	font-size: 50px;
	color: #cccccc;
}
/*akhir product*/

/*browse*/
.browse{
	height: 379px;
	background-color: #9d0001;
}
.browse h2{
    padding-top: 43px;
	color: white;
	font-size: 37px;
}
.browse .left{
	padding-left: 0;
	margin-right: 23px;
}
.browse .mid1{
	margin-right: -53px;
}
.browse .mid2{
	margin-right: 28px;
}
.browse .mid3{
	margin-right: px;
}
.browse .title{
	color: white;
	font-weight: bold;
	font-size: 19px;
	text-transform: uppercase;
	padding-top: 53px;
}
.browse .subtitle{
	padding-top: 27px;
	color: white;
	font-size: 13px;
}
.browse .subtitle-short{
	padding-top: 47px;
	color: white;
	font-size: 12px;
}
/*akhir browse*/

/*explore*/
.explore{
	height: 825px;
	background-color: #f6f6f6;
}
.explore h2{
	padding-top: 55px;
}
.explore img.left{
	padding-top: 38px;
}
.explore img.mid{
	padding-top: 38px;
}
.explore img.right{
	padding-top: 38px;
}
.explore .title1{
	padding-top: 31px;
	font-weight: bold;
	font-size: 17px;
}
.explore .title2{
	padding-top: 31px;
	font-weight: bold;
	font-size: 17px;
}
.explore .title3{
	padding-top: 31px;
	font-weight: bold;
	font-size: 17px;
}
.explore .subtitle{
	font-size: 16px;
	padding-bottom: 29px;
}
.explore .btn{
	background-color: #ffd213;
	margin-bottom: 62px;
}
.explore a{
	padding: 15px 14px;
	font-weight: bold;
	font-size: 17px;
	color: #000000;
}
.explore a.produk{
	color: black;
	font-weight: bold;
	font-size: 17px;
}
.explore img.plus{
	margin-top: -7px;
}
.explore .carousel-inner{
    position: relative;
    z-index: 1;
}
.explore .left-carousel-control{
	position: absolute;
	z-index: 3;
	top: 250px;
	left: -75px;
}
.explore .right-carousel-control{
	position: absolute;
	z-index: 4;	
	top: 250;
	right: -75;
}
.explore .glyphicon.glyphicon-chevron-left{
	font-size: 50px;
	color: #cccccc;
}
.explore .glyphicon.glyphicon-chevron-right{
	font-size: 50px;
	color: #cccccc;
}
/*akhir explore*/

/*pelayanan*/
.pelayanan img.logo{
	padding-top: 91px;
	padding-bottom: 27px;
}
.pelayanan .title{
	font-weight: bold;
	color: black;
	font-size: 17px;
}
.pelayanan .subtitle{
	margin-top: -8px;
	font-size: 15px;
	color: black;
	padding-bottom: 62px;
}
.pelayanan p.title{
	font-weight: bold;
	font-size: 17px;
	padding-top: 21px;
}
.pelayanan a:hover{
	color: #d91e2a;
}
.pelayanan p.bot{
	padding-bottom: 81px;
}
/*akhir pelayanan*/

/*footer*/
.footer p{
	font-size: 14px;
	color: white;
	background-color: #d30102;
	padding: 10px 0;
}
/*akhir footer*/