
.rights_hed_search{
	padding-top: 1rem;
	button.viewsn_open{
		padding: 0px !important;
	}
	position: relative;
	.posans_searchs_fm{

		form{
			.form-group{
				input{
					font-family: @firasans;
					font-size: 13px;
					font-weight: 500;
					color: rgba(255,0,0, 0.5);

					background-color: #fff;
					width: 335px;
				}
			}
			button{
				font-family: @firasans;
				font-size: 15px;
				font-weight: 500;
				color: #000;

				// padding-left: 1.5rem;
				// padding-right: 1.5rem;
				padding: 0.65rem 1.5rem;
				background-color: #ffd213;
				border: 0px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}
			margin: 0;
			margin-bottom: 0;
		}
		
		display: none;

		position: absolute;
		right: 0px;
		bottom: -56px;
		z-index: 250;

		width: 423px;
		height: 31px;

		clear: both;
	}

	clear: both;
}

.w-100{
	max-width: 100%;
	width: 100%;
}

section.art-det-sec-1 .title{
	font-size: 30px !important;
	line-height: 1.25 !important;
}
section.art-det-sec-1 .tanggal{
	font-size: 14px !important;
	margin-top: 12px !important;
}