body.morph{
	padding-top: 116px; 
}
.blocks-middles-contact.blocks_form{
	padding-top: 10%;
}
.lists-default-solutions-datas .owl-nav .owl-next span,
.lists-default-solutions-datas .owl-nav .owl-prev span{
    display:none;
}

/*----------------- Responsive ---------------------*/
@media (min-width: 1600px){
	
	.pictures_ins_about_bottom img{
		width: 100%;
	}
	.outers_fcs_wrapper{
		max-height: inherit;
	}

}


@media screen and (max-width: 1280px) , screen and (max-width: 1430px) {
	
	.slider .right-carousel-control,
	.slider .left-carousel-control,
	.lists-default-solutions-datas .owl-nav{
		/*display: none !important;*/
	}

	.slider .title{
		font-size: 38px;
	}
	.slider .subtitle{
		font-size: 13px;
		max-width: 50%;
	}
	.slider .left-carousel-control{
		left: -20px;
	}
	.slider .right-carousel-control{
		right: -20px;
	}

}

@media (max-width: 1280px){

	.tz-gallery .items h3{
		margin: 0px;
	}
	.tz-gallery .items h3{
		font-size: 15px;
	}
	.lists-default-solutions-datas .items .info p{
		font-size: 13px;
	}

}

@media (max-width: 1200px){

	.wrap-slide .camera_wrap{
		/*max-height: 454px !important;*/
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	.navbar-default .navbar-brand{
		padding: 0px;
	}

	.header .menu a.list{
		padding-left: 18px; font-size: 13px;
	}

}
/* Large desktop */
@media (max-width : 1135px){

	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.header .navbar-bot a{
		font-size: 12px;
	}
	.blocks_top_about.blocks-visionMission .contents p{
		font-size: 26px;
	}
	.inside-page.page-solutions .inners-content.middle .sub-title-default h2{
		font-size: 32px;
	}
	.inners-content.middle .lists-default-solutions-datas .items .info p{
		height: 115px; overflow: hidden;
	}
	section.top_pages_product .inners .lefts_text{
		left: inherit; top: inherit;
	}
	section.products_middle_blocks .tops_grey_fitler .texts{
		font-size: 12px;
	}
	section.products_middle_blocks .tops_grey_fitler form select.form-control{
		font-size: 11px;
	}

	.slider .right-carousel-control,
	.slider .left-carousel-control,
	.lists-default-solutions-datas .owl-nav{
		display: none !important;
	}

}

@media (max-width : 1002px) { 

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

	.default_sc.blocks_top_about.about-2 .contents h2 br{
		display: none;
	}
	.default_sc.blocks_top_about.about-2 .contents{
		max-width: 60%;
		text-align: left;
		float: right;
	}
	.content-text h2{
		font-size: 40px;
	}
	.blocks_top_about.blocks-visionMission .contents p{
		font-size: 21px;
		padding: 0 15px;
		height: 175px;
	}
	section.top_pages_product,
	section.top_pages_product .inners .backgroundsn_rights{
		height: auto; min-height: inherit;
	}
	section.top_pages_product .inners .lefts_text h3.tops_sub{
		padding-top: 1.5em;
	}
	section.top_pages_product .inners .lefts_text h1{
		font-size: 2.2em;
	}
	section.top_pages_product .inners .lefts_text h3.tops_sub{
		font-size: 1.1em;
	}

}

@media (max-width : 991px) { 

	.navbar-default {
		background-color: #fff;
		border-color: #fff;
	}
	.navbar-default .container-fluid{
		padding: 0 15px;
	}

	.navbar-default .navbar-brand{
		margin: 0px;
	}
	header.head{
		background: none;
		background-color: #fff;
	}
	.default_sc.blocks_top_about.contact-1{
		background-position: top center;
	}
	.blocks-middles-contact.blocks_form .blocksn-contact-form{
		max-width: 80%;
	}
	
}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	max-width: 140px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 0px;
    	margin-right: 0;
    }
    .navbar-default .navbar-toggle{
    	margin-right: 0;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	margin-top: 20px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.1);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	.navbar-nav{}
	.navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	.navbar-nav li a{
		color: #999;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    /*background-color: rgba(231, 231, 231, 0.15);*/
	}

	.navbar-nav li.dropdown.open > .dropdown-menu,
	.navbar-nav li.dropdown:focus > .dropdown-menu,
	.navbar-nav li.dropdown:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #888;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		/*text-transform: uppercase;*/
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}

	.slider .title{
		font-size: 28px;
	}
	.slider .carousel-capt{
		top: 30px;
	}
	.slider .btn{
		margin-top: 0.3em;
		padding: 9px 43px;
		font-size: 14px;
	}


	.tz-gallery .items .capt{
		position: relative; top: inherit; left: inherit;
		right: inherit; padding: 1em 1.5em 0.5em;
	}
	.tz-gallery .items img{
		padding-right: 0;
	}
	.tz-gallery .items{
		background-color: #fff;
		border-radius: 0px;
		border: 5px solid #d8d8d8;
		transition: 0.5s ease-in-out; margin-bottom: 2em;
	}
	.tz-gallery .items .thumbnail img{
		width: 100%;
	}
	.tz-gallery .items .thumbnail{
		background: none; background-color: transparent;
		border: 0px; margin-bottom: 0;
		min-height: 208px;
		border-bottom:  1px solid #ccc;
	}
	.tz-gallery .items h3{
		padding-bottom: 5px;
	}
	.tz-gallery .items h3 br{
		display: none;
	}
	section.product .tops h3.sub_title{
		font-size: 38px;
	}
	section.pelayanan .subtitle p{
		font-size: 13px;
	}

	.blocks_in_tfcs .ins_tFcs h4{
		font-size: 17px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs p{
		font-size: 13px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs{
		max-width: 320px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs a{
		font-size: 11px;
	}
	.block_bottom_banner_fcs .insides{}
	.block_bottom_banner_fcs .insides .height-40{ height: 0; }
	.block_bottom_banner_fcs .insides .block_info_left{
		float: none; max-width: 380px;
		text-align: center; margin: 0 auto;
	}
	.block_bottom_banner_fcs .insides .block_info_left .fleft.descs{
		float: none; max-width: inherit;
		padding-top: 1.8em;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs p{
		font-size: 13px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs span {
	    font-size: 19px;
	}

	footer.foot .insides_footer,
	footer.foot .insides_footer .social_footer,
	footer.foot .insides_footer .top_footer{
		text-align: center;
	}
	footer.foot .insides_footer .infos_bottom_footer2,
	footer.foot .insides_footer .social_footer{
		padding-top: 10px;
	}
	footer.foot .insides_footer .branchs_office{
		text-align: center;
		padding-top: 15px;
		float: none;
	}
	footer.foot .insides_footer .branchs_office img{
		margin: 0 auto; text-align: center; display: block;
	}

}

@media (max-width: 979px) {
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 7px 0; color: #999;
	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}
	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group{
		margin-right: 0;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group input{
		margin: 0 auto;
		width: auto;
		max-width: 250px;
	}
	.blocks_in_tfcs{
		display: none;
	}
	section.block_brandCar_home .insides .lists_logo_car ul li,
	footer.foot .insides_footer .top_footer .menu_footer ul li{
		display: block;
	}
	section.block_brandCar_home .insides .lists_logo_car ul li{ text-align: center; }
	section.block_brandCar_home .insides .lists_logo_car ul li img{
		text-align: center; margin: 0 auto; display: block;
	}
	.blocks_about_greys_middle .content-text p, .blocks_agent_greys_middle .content-text p{
		font-size: 18px;
	}
	.content-text h3{
		font-size: 20px;
	}
	.list_product_data_default .items{
		padding: 0;
	}
	.block_in_producst_pg .lefts_cont{
		max-width: inherit;
	}
	.blocks_middle_greenAgent .insides h3{
		font-size: 26px;
	}
	.blocks_middle_greenAgent .insides p{
		font-size: 18px;
	}
	.blocks_agent_greys_middle .insides p{
		font-size: 23px;
	}
	.blocks_agent_greys_middle .insides .info{
		font-size: 21px;
	}
	.blocks_agent_greys_middle{
		padding: 5em 0;
	}

	.box-form.tl-contact-form form .fright,
	.box-form.tl-contact-form form .fright button.btns-submit-bt{
		float: none;
	}
	.lists_logo_car ul{
		list-style: none; margin: 0; padding: 0;
	}
	.lists_logo_car ul li{
		float: left; width: 48%; margin-bottom: 1.5em; 
		padding: 0;
	}
	.list_product_data_default.product_l .items{
		max-width: inherit; min-height: inherit;
		margin-bottom: 3.5em;
	}

	.box_form_filter_retails .b_forms form button,
	.box_form_filter_retails .b_forms form .form-group input, 
	.box_form_filter_retails .b_forms form .form-group select{
		width: 100%;
		border-radius: 0px;
	}
	.row-eq-height{
		display: block;
	}
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items .info .titles, 
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items .info .titles a{
		font-size: 13px;
	}

	footer.foot .insides_footer .t-copyrights a,
	footer.foot .insides_footer .t-copyrights{
		font-size: 10px;
	}


	.tz-gallery .items .thumbnail img{
		width: auto;
	}
	.tz-gallery .items .thumbnail{
		min-height: inherit; 
		padding-bottom: 10px;
		padding-top: 10px;
	}
	section.pelayanan .bottoms_footr p{
		margin-bottom: 1.6em;
	}

	.footer p{
		font-size: 11px; padding: 15px;
	}

	section.slider .container{
		padding: 0 !important;
		background-color: #f5f5f5;
	}
	.slider .carousel-capt{
		position: relative; top: inherit; left: inherit;
		padding: 1.8em 15px;
		background-color: #f5f5f5;
	}
	.slider .carousel-capt .subtitle{
		max-width: inherit; text-align: justify;
	}
	.slider .carousel-capt h2.title{
		margin-top: 0; font-size: 25px;
	}
	.slider .carousel-capt .title br{
		display: none;
	}

	section.portfolio .tz-gallery{
		margin: 0 -15px;
	}

	.content-text h2 {
	    font-size: 1.7em;
	}
	.content-text p{
		font-size: 0.9em;
	}
	.default_sc.blocks_top_about.about-2 .contents{
		max-width: inherit; float: none;
	}

	.blocks_top_about.blocks-visionMission .borders{
		border-right: 0px;
		border-bottom: 1px solid #dadada;
		padding-bottom: 1.5em; margin-bottom: 1.8em;
	}

	.blocks-middles-contact, .blocks-middles-quality,
	.blocks_top_about.blocks-visionMission{
		padding-top: 6em; padding-bottom: 4em;
	}

	.default_sc.blocks_top_about.about-1{
		background-position: top left;
	}
	.default_sc.blocks_top_about.about-2{
		background-position: top right;
	}

	.inside-page.page-solutions .illustration-featured .texts h2{
		font-size: 2.2em;
	}

	.default_sc.blocks_top_about.quality-1,
	.default_sc.blocks_top_about.contact-1,
	.inside-page.page-solutions .illustration-featured{
		background-position: top left;
	}
	.default_sc.blocks_top_about.contact-1{
		min-height: inherit; padding-bottom: 5em;
	}
	.list-widget-careers.block-widget .items .col-md-4{
		margin-bottom: 1.3em;
	}

	.box-form.tl-contact-form form .form-group input.form-control{
		margin-left: 0; margin-right: 0;
	}
	.blocks-middles-contact.blocks_form .blocksn-contact-form{
		max-width: inherit;
	}
	.default_sc.blocks_top_about.contact-1 dl.dl-horizontal dd,
	.default_sc.blocks_top_about.contact-1 dl.dl-horizontal dt{
		display: inline-block;
	}
	.default_sc.blocks_top_about.contact-1 dl.dl-horizontal dd{
		margin-left: 0;
	}

	section.top_pages_product .inners .backgroundsn_rights{
		display: none;
	}
	section.top_pages_product .inners .lefts_text{
		position: relative;
		padding: 1.7em 0 2em;
	}

	section.products_middle_blocks .tops_grey_fitler .texts{
		border-left: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	section.products_middle_blocks .tops_grey_fitler .texts.text-right{
		border-right: 0 !important;
	}
	section.product .list_featured_products.inside_list .items{
		margin-bottom: 2.4em;
	}
	.back-product-details a{
		border-left: 0; border-right: 0;
	}
	section.products_middle_blocks .tops_grey_fitler .texts.breadcrumbs_prdDetail a{
		padding-left: 7px; 
		padding-right: 7px;
	}
	section.products_middle_blocks .tops_grey_fitler .texts.breadcrumbs_prdDetail a{
		font-size: 12px;
	}

	.row.margin{
		margin: 0 -15px;
	}

	.block-product-details.middle-content .description-products-detail{
		padding-top: 2.8em;
	}
	.block-product-details.middle-content .description-products-detail .height-45{
		height: 0;
	}
	.blocks_details_spec .title,
	.other.product .title{
		font-size: 1.4em;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}