/*----------------------- IMPORT FONT ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i');
// font-family: 'Roboto', sans-serif;
// font-family: 'Fira Sans', sans-serif;

// 992
@Roboto: 'Roboto', sans-serif;
@firasans: 'Fira Sans', sans-serif;
@font_set: 'Fira Sans', 'Roboto', sans-serif;

@background: #fff;

/*-------------------------- -- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: rgba(0,0,0, 0.7);
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}
.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1152px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1152px;
        /*width: 1152px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1152px;*/

    max-width: 1152px;
    width: 1152px;
    margin: 0 auto;
    padding: 0px;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.d-inline{
  display: inline-block;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url('../images/bgloader.jpg') left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url('../images/loading2.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}

// -----------------------------------------------------------
@import url('home.css');

@import url('subpage.css');

@import 'ibnu.less';
 
.header .navbar-bot .navbar-collapse{
  padding-left: 0; padding-right: 0;
}
.slider{
  margin-top: 0;
  .btn{
    font-size: 17px; font-weight: 700; color: #000;
    font-family: @firasans; 
  }
}
.navbar-bot .menu{
  margin-top: 0;
  padding-top: 0;
}

.morph header.header{
    position: fixed !important;
    top: 0px;
    left: 0px; width: 100%;
    z-index: 600;
}
.morph header.header {
    background: #fff;
    // border-bottom: 3px solid #fafafa;
    
    transition: background 0.3s, border 0.3s 0.1s, padding 0.3s;

    // height: auto;

    z-index: 1000;
    -webkit-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow:    1px 1px 16px 0px rgba(0, 0, 0, 0.10);
    box-shadow:         1px 1px 16px 0px rgba(0, 0, 0, 0.10);
    .outers-back-header{
    }
    .navbar-brand{
      padding: 5px 0px 10px;
    }
    .menu-list{
      padding-top: 23px;
    }
    .navbar-bot a{
      font-size: 12px;
    }
    .menu a.list{
      font-size: 13px;
    }

    .menu .login{
      display: none;
    }
    clear: both;
}

header.header{
  nav.navbar{
    margin-bottom: 2px;
  }
  nav.navbar-bot{ 
    margin-bottom: 0;
  }
}

.header .navbar-bot{
  border-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.header .navbar-bot a{
  padding: 15.5px 12px;
}

#custom-search-form{
  margin-top: 9px;
  position: relative;
  // margin-right: -12px;
}
#custom-search-form .input-append{
  position: relative;
}
#custom-search-form .input-append button{
  position: absolute; top: 0px; right: 0px;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 34px;
}

.header .navbar-bot a{
  font-size: 12px;  
}

// .box-search-formrights{
  //   position: relative;
  //   #custom-search-form input[type="submit"]{
  //     right: 0;
  //     margin-top: 8px;
  //     padding: 6px 9px;
  //     font-size: 13px;
  //     // z-index: 5;

  //     border: none;
  //     background:#ffd213 url('../images/bacns-btn-syellow.jpg') center no-repeat;
  //     width: 28px;
  //     height: 28px;
      
  //     text-indent: -10000px;
  //     border: none;
  //     // position: absolute;
  //     top: 0;
  //     right: 0;
  //     z-index: 1;
  //     cursor: pointer;
  //     opacity: 0.75;
  //     cursor: pointer;
  //     transition: opacity .4s ease;
  //   }
  //   #custom-search-form input[type="submit"]:hover { 
  //     opacity: 0.95;
  //   }

  //   #custom-search-form{
  //     margin-top: 0;
  //     margin-top: 5px;
  //   }
  //   .form-control{
  //     margin-right: 0; margin-left: 0;
  //     // width: 195px;
  //   }
  //   form{
  //       display: inline-block;
  //       position: relative;
  //       height: 32px;
  //       float: right;
  //       padding: 0;
  //       position: relative;
  //   }
  //   input[type="text"]{
  //       height: 35px;
  //       display: inline-block;
  //       font-size: 14px;
  //       font-weight: 300;
  //       border: none;
  //       outline: none;
  //       color: #fff;
  //       padding: 2px;
  //       padding-right: 30px;

  //       width: 0px;
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //       background: none;
  //       z-index: 3; 
  //       transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  //       cursor: pointer;
  //       box-shadow: none;
  //       border-radius: 0px;
  //       line-height: 1.3;

  //       background: #d70204;
  //       margin-top: 2px;
  //       padding-left: 7px;
  //       border-color: #fff;
  //   }

  //   input[type="text"]:focus:hover {
  //     border-bottom: 1px solid #fff;
  //     box-shadow: none;
  //   }

  //   input[type="text"]:focus {
  //     width: 275px;  
  //     z-index: 2;
  //     border-bottom: 1px solid #fff;
  //     cursor: text;
  //     box-shadow: none;
  //   }
  //   clear: both;
  // }

.box-search-formrights{
    margin: 0px;
    display: inline-block;
    position: relative;
    height: 50px;
    float: right;
    padding: 0;
    position: relative;


    input[type="text"] {
      height: 35px;
      font-size: 14px;
      display: inline-block;
      font-weight: 300;
      background-color: #d80204;
      color: #fff;
      border: none;
      outline: none;
      padding: 0px;
      padding-right: 38px; padding-left: 10px;
      width: 0px;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      z-index: 3;
      transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
      cursor: pointer;
    }

    input[type="text"]:focus:hover {
      border-bottom: 1px solid #fff;
    }

    input[type="text"]:focus {
      width: 225px;
      background-color: #d80204;
      z-index: 1;
      border-bottom: 1px solid #fff;
      cursor: text;
    }

    button#search_submit,
    input[type="submit"] {
      height: 28px;
      width: 28px;
      display: inline-block;
      color:red;
      float: right; 
      background:#ffd213 url('../images/bacns-btn-syellow.jpg') center center no-repeat;
      text-indent: -10000px;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      opacity: 0.75;
      cursor: pointer;
      transition: opacity .4s ease;
    }
    button#search_submit:hover,
    input[type="submit"]:hover {
      opacity: 0.9;
    }
}

section.product{
  .tops{
    h3.sub_title{
      display: block; margin: 0; padding: 0;
      line-height: 1;
      font-size: 44px; font-weight: 300; color: #000;
    }
    padding-top: 48px;
    padding-bottom: 35px;
  }


  .list_featured_products.inside_list{
    .items{
      padding-bottom: 35px;
    }
  }
  .list_featured_products{

    .items{
      .capt{
        max-width: 338px; margin: 0 auto;
        p{
          font-size: 16px; font-weight: 300; color: #000; line-height: 1.3;
        }
      }
      .text-center a{
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        padding-top: 8px; padding-bottom: 8px;
      }
    }
    clear: both;
  }

  clear: both;
}

.browse .title{
  height: 40px; overflow: hidden;
  padding-top: 0;
  line-height: 1.1;
  a{
    color: #fff;
    font-size: 15px;
  }
}
.browse .subtitle-short{
  margin-top: 15px;
  padding-top: 0;
  ul{
    margin: 0; padding: 0;
    list-style: none;
    li{
      padding: 2px 0;
      font-size: 14px; font-weight: 300; color: #fff;
      a{
        font-size: 14px; font-weight: 300; color: #fff;
      }
    }
  }
  clear: both;  
}


.explore{
  min-height: 800px; height: auto; width: 100%;
}
.explore .btn{
  margin-bottom: 20px;
}

.lists_explores_industry{

  .items{
    img{}
    .capt{
      padding-top: 27px;
      .title{
        display: block; margin: 0; padding: 0;
        font-size: 17px; font-weight: 700; color: #000; line-height: 1;
        padding-bottom: 12px;
      }
      p{
        font-size: 16px; font-weight: 300; color: #000; line-height: 1.4;
      }
    }
    clear: both;
  }
}

section.pelayanan{
  border-top: 1px solid #d4d4d4;
  .title{
    p{
      font-size: 17px; font-weight: 700; color: #000; text-decoration: none;
    }
  }
  .subtitle{
    max-width: 925px; margin: 0 auto;
    padding-bottom: 50px;
    font-family: @Roboto; font-size: 15px; font-weight: 300; color: #000; line-height: 1.3;
    p{
      font-family: @Roboto; font-size: 15px; font-weight: 300; color: #000; line-height: 1.5;
    }
  }
  .bottoms_footr{
    p{
      font-size: 17px; font-weight: 300; color: #000; line-height: 1.4;
      a{
        font-size: 15px; font-weight: 700; color: #d91e2a;
        text-decoration: underline;
      }
    }
    p.title{
      font-weight: 700;
    }
    padding-bottom: 65px;
  }
}
.pelayanan img.logo{
  padding-top: 85px;
}

.inline-block{
  display: inline-block;
}

footer.footer{
  p{
    margin-bottom: 0;
  }
}

.outers_fcs_wrapper{
  position: relative; z-index: 2;

  height: auto;
  max-height: 582px;
  overflow: hidden;
  .carousel-inner{
    .item{
      img{ width: 100%; }
    }
  }

  .blocks_n_pag{
    position: absolute; bottom: 0px; width: 100%; left: 0px;
    ol.carousel-indicators{
      width: auto; text-align: left;
      margin-left: 0; left: 0px;
    }
  }

  ol.carousel-indicators{
    li{
      margin: 0 2px;
      width: 25px; height: 6px;
      background-color: #00a64f;
      border: 0px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      margin: 0 2px;
      width: 25px; height: 6px;
      background-color: #fff;
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 30%;
      width: 100%;

      .bxsl_tx_fcs{
        max-width: 650px; margin: 0 auto;
        text-align: center;
        h3{
          font-size: 35px; font-weight: 600; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 5px;
        }
        span{
          display: block;
          font-size: 23px; font-weight: 500; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        p{
          font-size: 17px; font-weight: 400; color: #fff;
          line-height: 1.3;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
      }
    }
    img{
      margin: 0;
    }
}

a.btns_greens_def,
button.btns_greens_def{
  background: none; 
  // border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;
  border-radius: 0px;
  background-color: #00a64f;
  padding: 8px 15px;
  text-transform: uppercase; 
  font-family: @firasans;
  font-size: 15px; font-weight: 400; color: #fff;
}
a.btns_greens_def:hover,
a.btns_greens_def:focus,
button.btns_greens_def:hover,
button.btns_greens_def:focus{
  opacity: 0.95;
  box-shadow: none; border: 0px;
  outline: none; background-color: #058944;
  color: #fff;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.pict_full{
  img{ width: 100%; max-width: 100%; }
}



.box-form.tl-contact-form{
  // max-width: 845px; 
  // min-width: 845px;
  // float: right;
  // background-color: #f2f2f2;
  margin: 0 auto; 
  text-align: left;
  form{
    .form-group{ 
      margin: 0; margin-left: 0; margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
      label{
        font-family: @firasans;
        font-weight: 700; font-size:13px; color:#d70204;
        margin-bottom: 3px; text-align: center;
        text-transform: uppercase; letter-spacing: 1px;
      }
      input{
        border:0px;
        background: none; background-color: #fff;
        border-bottom: 0px; border-radius: 0px;
        text-shadow:none; box-shadow: none;
        // max-width: 400px;
        font-size: 14px;
        border-bottom: 1px solid #d7d7d7;
      }
      textarea{
        margin: 0;
        background: none;
        background-color: #fff;
        border: 0px;
        border-bottom: 0px; border-radius: 0px;
        box-shadow: none;
        border-bottom:0;
        text-align: left;

        border-bottom: 1px solid #d7d7d7;
      }
    }
    .g-recaptcha > div{
      margin: 0 auto;
      display: block;
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;
      background: url('../images/backsn-submitfn-contact.jpg') no-repeat;
      width: 220px; height: 36px;
      margin: 0 auto; text-align: center; display: block;

      border-radius: 5px; 
      // width: 144px; height: 32px;
      // padding-top: 4px;
      // text-transform: uppercase; 
      // font-family: @firasans;
      // font-size: 15px; font-weight: 400; color: #fff;
      // border: 3px solid #fff;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
      background-color: transparent;
    }
  }
}

.lines-grey{
  height: 2px;
  background-color: #8a8988;
}

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}

.boxs_fill_information_order{
  h3{
    margin: 0; color: #000;
    margin-bottom: 15px;
  }
  .form-group{
    label{
      text-align: left;
      font-size: 13px;
      font-weight: 400; color: #000;
      font-family: @firasans;
    }
    span.required{
      margin-bottom: 0;
      font-size: 13px; color: red; display: inline-block;
    }
    input{
      background-color: #fff;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
      font-family: @firasans;
      font-size: 13px; font-weight: 400;
    }
    select,textarea{
      font-family: @firasans;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
    }

  }
  button.btn{
      border: 0px;
      font-size: 13px; font-weight: 500; color: #fff;
      text-transform: uppercase;

      background-color: #7b7b7b;
      padding: 7px 18px;
      border-radius: 0px;
      font-family: @Roboto;
    }
    button.btn:hover,
    button.btn:focus{
      background-color: #3C3B3A;
      color: #fff;
    }
}

.outer-cont-carts{
  font-family: @firasans;
    .left-conts-tabl-cart{
        // ol.breadcrumb{
        //     margin-bottom: 0px;
        //     padding: 0px;
        //     li{
        //         a{ text-decoration: none; font-size: 20px; font-weight: 400; color: #848482; }
        //         a:hover{ text-decoration: none; color: #000; }
        //     }
        //     li.active{
        //         a{ color: #000; }
        //     }
        // }

        table.shopcart{
            margin-bottom: 25px;
            thead{
                td{
                    background-color: #7b7b7b;
                    font-size: 12px; font-weight: 400; color: #fff !important;
                    font-family: @firasans;
                }
            }
            tr{
                td{ padding-left: 17px;
                    font-size: 12px; font-weight: 400; color: #151515;
                    font-family: @firasans;
                    span{
                      margin: 0;
                    }
                    span.price{ font-size: 15px; font-weight: 400; color: #151515; }
                    input[type=number]{
                        width: 40px;
                        height: 22px;
                        padding-left: 5px;
                    }
                    .pic{
                      img{
                        margin: 0;
                        max-width: 90px;
                        max-height: 75px;
                        border: 1px solid #ccc;
                      }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding-top: 19px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #aaaaa7;
                        span.name{ font-size: 14px; font-weight: 400; color: #151515; }
                        span.cat{ font-size: 10px; font-weight: 700; color: #151515; }
                        span.totl{
                            font-size: 14px; font-weight: 600; color: #151515;
                        }
                        span.name{
                          font-size: 16px; font-weight: 300; color: #151515;
                        }
                        span.cat{
                          font-size: 14px; font-weight: 700; color: #151515;
                        }
                    }
                }
                tr.sub_total{
                    td{
                        padding-bottom: 9px;
                        padding-top: 9px;
                    }
                }
            }
            .btn-delete-cart{
                i.fa{ color: #000; }
            }
        }
    }
    
    a.btn{
      border: 0px;
      font-size: 12px; font-weight: 500; color: #fff;
      text-transform: uppercase;

      background-color: #7b7b7b;
      padding: 7px 18px;
      border-radius: 0px;
      i.fa{
        font-size: 16px;
      }
    }
    a.btn:hover,
    a.btn:focus{
      background-color: #3D3D3D;
      color: #fff;
    }
    a.btn.btn-delete-cart{
      background-color: transparent;
    }
}

.customs_modal_popup{
  .insets_popup{
    .btns_close:hover,
    .btns_close:focus{
      text-decoration: none;
      outline: none;
    }
    .btns_close{
      width: 27px; height: 27px;
      background-color: #00a64f;
      padding: 3px;
      border-radius: 15px; float: right;
      
      i.fa{
        font-size: 16px; color: #fff;
      }
    }

    .info{
      p{
        font-family: @firasans;
        font-size: 17px; font-weight: 300; color: #2a2a2a;
        strong,b{
          font-family: @firasans;
          font-size: 20px; font-weight: 700; color: #2a2a2a;
        }
      }
    }
  }
  clear: both;
}

.header .navbar-bot{
  border-radius: 0px;
  .menu{

    ul{
      margin: 0; padding: 0;
      li{
        padding: 7px 3px;
        a{
          padding: 8px 10px;
        }
      }

      li.feature{
        a{
          font-size: 14px;
          color: #ffd213;
        }
        // background-color: #750b0b;
        // padding-left: 5px;
        // padding-right: 5px;
        // margin-left: 0.5rem;
      }
      li.feature:hover,
      li.feature:focus{
        // background-color: #580F0F;
        a{
          // color: #ffd213;
        } 
      }

      li.first:hover,
      li.first:focus,
      li.first{
        padding-left: 0;
        background-color: #9d0001;
        a{ background-color: #9d0001; color: #fff; }
      }

      li:hover,
      li:focus,
      li.active{
        a{
          // background-color: #ffd213;
          // color: #1a1a1a;
          background-color: transparent;
          color: #ffd213;
          border-radius: 10px;
        }
        ul.dropdown-menu{
          // display: block;
        }
      }

      li:hover > ul.dropdown-menu,
      li:focus > ul.dropdown-menu{
        display: block;
      }
      
      li > ul.dropdown-menu{
        float: none;
        background-color: transparent;
        li{
          background-color: #ebebeb;
          a{
            font-family: @firasans;
            font-size: 13px;
            font-weight: 500;
            color: #3a3a3a;
          }
          border-bottom: 1px solid #ccc;
        }
        li:hover,
        li:focus{
          background-color: #fff;
          a{
            color: #3a3a3a;
          }
        }
      }

    }
  }
}

.blink {
  animation: blink-animation 1.2s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.block-product-details.middle-content{

  .description-products-detail{   
    .subtitle-produk,
    .title-produk{
      font-weight: 700; color: #2b2b2b; line-height: 1.2;
      font-size: 24px; 
      // text-transform: uppercase;
      padding-bottom: 4px;
    }
    .subtitle-produk{
      font-size: 23px; font-weight: 300;
      padding-bottom: 10px; text-transform: inherit;
      margin-bottom: 12px;
    }
    .blocks_prices{
      padding: 23px 0 20px;
      border-top: 1px solid #cbcbcb;
      border-bottom: 1px solid #cbcbcb;
      margin-bottom: 32px;
      .price{
        font-size: 18px; font-weight: 700; color: #2b2b2b;
        line-height: 1; padding-bottom: 10px;
      }
      .after,
      .before{
        font-size: 18px; font-weight: 700; color: #ed1b23;
        line-height: 1; text-decoration: line-through;
      }
      .after{
        text-decoration: none; color: #ed1b23;
        font-size: 24px; font-weight: 700; 
      }
    }
    hr{
      margin-top: 27px; 
      width: 100%;
      border-top-color: #cbcbcb;
      margin-bottom: 25px;
    }
    .description{
      ul li,
      p{
        font-family: @firasans;
        font-size: 14px; font-weight: 300; color: #010101; line-height: 1.4;
        margin-bottom: 25px;
      }
      p{
        b,strong{ color: #000; }
      }
      ul{
        margin-bottom: 15px;
        margin-right: 0;
        li{
          font-family: @firasans;
          line-height: normal; margin-bottom: 0;
          text-decoration: none;      
          padding: 4px 0;
        }
      }
      .olshop{
        p{
          font-family: @Roboto;
          font-size: 15px; font-weight: 700; color: #ed1b23;
          line-height: 1; padding-bottom: 15px;
          margin-bottom: 0;
        }
        button.btn-default{
          border-radius: 5px;
        }

        button.btn-default:hover,
        button.btn-default:focus{
          opacity: 0.92;
        }
      }

      .btn-default {
          background-color: Transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
          color: white;

          color: #333;
          background-color: #f4f4f4;
          border-color: #ccc;

          padding: 10px 25px;
          -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 0.44);
        box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 0.44);
      }
    }
  }
  clear: both;
}

section.artikel-sec-1{
  padding-top: 60px;
  .box-content{
    .judul{
      margin-top: 25px;
      p{
        font-size: 16px;font-family: @firasans;color: #000000;
        text-align: center;font-weight: 700;
        margin-bottom: 60px;
      }
    }
  }
}

.prelatife.container3{
  max-width: 830px;
  margin: 0 auto;
  display: block;
}

section.art-det-sec-1{
  padding-top: 100px;
  .title{
    font-size: 45px;
    font-family: @firasans;
    font-weight: 300;
    color: #000000;
  }
  .tanggal{
    font-size: 16px;
    font-family: @firasans;
    color: #000000;
    text-align: right;
    margin-top: 30px;
    text-align: right;
    margin-top: 30px;
  }
  .image{
    margin-top: 10px;
  }
  .content{
    p{
      margin-top: 40px;
      font-size: 16px;
      font-family: @firasans;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
  .hr-art{
    width: 830px;
    background: #d4d4d4;
    height: 1px;
    margin: 70px 0;
  }
}

section.art-det-sec-2{
  padding-bottom: 80px;
  .title{
    margin-bottom: 30px;
    p{
      font-size: 20px;
      font-family: @firasans;
      font-weight: 700;
      color: #000000;
      text-align: center;
    }
  }
  .judul{
    margin-top: 35px;
    p{
      font-size: 16px;
      font-family: @firasans;
      font-weight: 700;
      color: #000000;
      text-align: center;
    }
  }
}