@Roboto: 'Roboto', sans-serif;
@firasans: 'Fira Sans', sans-serif;
@font_set: 'Fira Sans', 'Roboto', sans-serif;

section.top_pages_product{
	background: url('../images/backs_yellowsn_headrsn_insideprd.jpg') repeat-y;
	width: 100%;
	min-height: 134px; height: auto;
	position: relative;
	.inners{

		.lefts_text{
			h3, h1{
				display: block; margin: 0; padding: 0;
			}
			h3.tops_sub{
				font-size: 17px; font-weight: 700; color: #000;
				line-height: 1; padding-bottom: 13px;
				padding-top: 35px;
			}
			h1{
				font-size: 44px; font-weight: 300; color: #000; line-height: 1;
			}

			position: absolute; 
			left: 0px; top: 0px; z-index: 3;
		}
		.pic_banner{
			position: relative;
			margin-left: -10px;
		}

		.backgroundsn_rights{
			position: relative;
			z-index: 1;
			height: 134px;
		}
	}
	clear: both;
}

section.products_middle_blocks{
	.tops_grey_fitler{
		background-color: #f5f5f5;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		display: block;
		min-height: 40px;
		.texts.text-right{
			text-align: right;
			padding-right: 20px !important;
			border-right: 1px solid #e1e1e1;
		}
		form{
			margin: 0; margin-bottom: 0;
			select.form-control{
				display: inline-block;
				border-radius: 0px; border:0px;
				padding: 0px;
				background-color: transparent;
				box-shadow: none; outline: none;

				font-size: 13px; font-weight: 400; color: #1a1a1a; text-transform: uppercase;
				height: auto;
				max-width: 90px;
				margin: 0; margin-left: 5px;
			}
		}
		.texts{
			font-family: @firasans;
			font-size: 14px; font-weight: 400; color: #1a1a1a; text-transform: uppercase;
			clear: both;
			padding: 10px 0; line-height: 1.3;
			text-align: center;

			min-height: 40px;
			border-left: 1px solid #e1e1e1;
			// border-right: 1px solid #e1e1e1;

			ul.list-inline{
				margin: 0;
				margin-left: 10px;
				display: inline-block;
				li{
					padding: 0px 0px;
					margin: 0;
					a{
						padding: 2.5px 8.5px;
						font-size: 13px;
						color: #1a1a1a; text-decoration: none;
					}
				}
				li:hover,
				li:focus,
				li.active{
					margin: 0;
					a{
						background-color: #f5d445;
						color: #1a1a1a; text-decoration: none;
						border-radius: 8px;
					}
				}
			}
			span{
				margin: 0; padding: 0; line-height: 1;
				font-size: 14px; font-weight: 700; color: #1a1a1a;
			}
		}

	}
	.middles{

	}
	height: auto;
	margin: 0;
	clear: both;
}

.product .subtitle.cat2{
	font-size: 12px; font-weight: 500;
	padding-top: 5px;
}

.list_featured_products.inside_list{
	.items{
		min-height: 368px; max-height: 370px; overflow: hidden; 
		.capt{
			max-width: 274px;
			.title{
				font-size: 13px; font-weight: 700;
				padding-bottom: 15px; 
				height: 61px; overflow: hidden; 
			}
			.subtitle{
				font-size: 12px;
			}
			.subtitle.cat2{
				font-size: 12px;
				font-weight: 500; 
			}
			clear: both;
		}
	}
}
.product .title{
	height: 61px; overflow: hidden; 
}

.box-pagination{
	span{
		margin: 0; padding: 0; line-height: 30px;
		font-size: 14px; font-weight: 700; color: #1a1a1a;
		height: 30px;
	}
	ul.list-inline{
		margin: 0;
		margin-left: 10px;
		display: inline-block;
		li{
			padding: 0px 0px;
			margin: 0;
			a{
				padding: 2.5px 8.5px;
				font-size: 13px;
				color: #1a1a1a; text-decoration: none;
			}
		}
		li:hover,
		li:focus,
		li.active{
			margin: 0;
			a{
				background-color: #f5d445;
				color: #1a1a1a; text-decoration: none;
				border-radius: 8px;
			}
		}
	}
	clear: both;
}

.pagination{
	display: inline-block;
	padding: 0;
	margin: 0 0;
	border-radius: 4px;
}
.pagination a{
  color: #000;
  background: transparent;
  font-size: 11px;
  border-color: transparent;
}
.pagination > li > a{
	position: relative;
	float: left;
	padding: 0px 6px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: transparent;
	border: transparent;
	border-radius: 8px;

}
.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    z-index: 2;
    color: #1a1a1a;
    cursor: default;
    background-color: #f5d445;
    border-color: transparent;
}
.pagination>.active>a, .pagination>.active>span{
  color: #1a1a1a !important; 
} 

.inside-page.page-solutions{
	.illustration-featured{
		min-height: 553px; height: auto;
		width: 100%;
		background: url('../images/picts_head-explore-prd.jpg') no-repeat;
		background-position: top center;
		// border-bottom: 2px solid #c9c8c8; 
		background-size: cover;
		.texts{
			max-width: 570px;
			text-align: left;
			padding-top: 100px;
			h2, h4, p{ display: block; margin: 0; padding: 0; }
			h4{
				font-size: 17px; font-weight: 700; color: #000000;
				line-height: 1; padding-bottom: 12px;
			}
			h2{
				font-size: 44px; font-weight: 300; color: #000; line-height: 1.2;
				padding-bottom: 18px;
			}
			p{
				font-size: 17px; font-weight: 300; color: #000; line-height: 1.4;
			}
			clear: both;
		}
	}

	.inners-content.middle{
		padding-top: 90px;
		padding-bottom: 50px;
		min-height: 450px; height: auto; width: 100%;
		background-color: #f6f6f6;

		.sub-title-default{
			text-align: center;
			padding-bottom: 5em;
			h2{
				display: block; margin: 0; padding: 0; 
				font-size: 39px; font-weight: 300; color: #000; line-height: 1;
			}
		}
		clear: both;
	}
	clear: both;
}

.lists-default-solutions-datas.home_list{
	.items{
		padding: 0 5px;
		.info{
			padding-bottom: 0;
			p{
				max-height: 55px; padding-bottom: 0;
				overflow: hidden; line-height: 1.3;
				margin-bottom: 15px;
			}
		}
	}
}
.lists-default-solutions-datas{
	position: relative;
	.items{
		.picture{
			img{
				border-radius: 10px;
			}
		}
		.info{
			text-align: center;
			padding: 25px 10px 55px;
			h5, p{
				display: block; margin: 0; padding: 0;
			}
			h5.title{
				font-size: 17px; font-weight: 700; color: #000;
				padding-bottom: 5px;
			}
			p{
				font-size: 15px; font-weight: 300; color: #000; line-height: 1.3;
				padding-bottom: 15px;
			}
		}
		.btns-def-yellow{
			border-radius: 5px; 
		}
	}



	.owl-nav{
	      margin-bottom: 0 !important;
	      .owl-prev, .owl-next{
	          border: 0px !important;
	          background: none !important; 
	          background-color: transparent !important; 
	          border-radius: 0px !important;
	          width: 43px !important; 
	          height: 78px !important;
	          margin: 0 !important;

	          position: absolute !important;
	          top: 30% !important;
	      }
	      .owl-prev{
	          left: -60px !important;
	          background: url('../images/chevrn-left-slde.png') no-repeat !important;
	      }
	      .owl-next{
	          right: -60px !important;
	          background: url('../images/chevrn-right-slde.png') no-repeat !important;
	      }
	  }
	clear: both;
}

a.btns-def-yellow{
	background: none; box-shadow: none; border-radius: 0px; border:0px;

	width: 180px; height: 43px;
	padding: 0px; line-height: 43px;

	background-color: #ffd213;
	font-size: 17px; font-weight: 700; color: #000;
}
a.btns-def-yellow:hover,
a.btns-def-yellow:focus{
	background-color: #FDEB22;
	transition: 0.5s ease-in-out;
	color: #000;
}


.back-product-details{
	a{
		font-size: 14px; font-weight: 400; color: #1a1a1a;
		text-decoration: none; text-transform: uppercase;
		i.fa{
			color: #000; font-size: 15px;
		}
		padding: 12px 15px;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9;
	}
	border-left: 0 !important;
	border-right: 0 !important;
}

section.products_middle_blocks .tops_grey_fitler .texts.breadcrumbs_prdDetail{
	text-align: left; padding-left: 20px;
	font-size: 14px; font-weight: 400; color: #1a1a1a;
	border-right: 0px; margin-top: 1px;
	a{
		font-size: 14px; font-weight: 400; color: #1a1a1a;
	}
	a:first-child{
		padding-left: 0;
	}
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	// clear: left;
	clear: both;
}

.block-product-details.middle-content .description-products-detail{
	 .subtitle-produk,
	 .title-produk{
	 	font-family: @firasans;
	 	color: #2b2b2b; font-weight: 700; font-size: 29px;
	 	padding-bottom: 18px !important;
	 }

	 clear: both;
}

.block-product-details.middle-content .description-products-detail{
	.blocks_prices{
		.price{
			padding-bottom: 14px;
		}
		.before{
			padding-top: 5px;
			color: #ed1b23; font-size: 18px; font-weight: 700;
		}
		.after{
			color: #ed1b23; font-size: 28px; font-weight: 700;
		}
		clear: both;
	}

	.description{
		font-size: 14px; font-weight: 300; color: #010101; line-height: 1.3;
		p{
			font-size: 14px; font-weight: 300; color: #010101; line-height: 1.3;	
		}
		.olshop{
			p{
				b,strong{
					color: #ed1b23; font-weight: 700;
				}
				padding-bottom: 20px;
			}
			a{
				min-width: 196px;
				margin-bottom: 15px; display: inline-block;
			}
		}
		img{
			max-width: 100%; 
		}
	}

	clear: both;
}

.other.product{
	.title{
		font-size: 22px; font-weight: 700;
	}
	clear: both;
}

.slider .subtitle{
	max-width: 585px;
}

/*----------------------- Midle Text Content -----------------*/
  .content-text{
      font-family: @firasans;
      font-weight: 300;
      font-size: 18px;
      color: #000;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @firasans; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{ clear: both; margin: 0px; margin-bottom: 15px; font-size: 15px; font-family: @firasans; font-weight: 300; color: #000; line-height: 1.3; letter-spacing: 1px; text-transform: uppercase; }
  
  .content-text h2{ clear: both; margin: 0px; margin-bottom: 20px; font-size: 44px; font-family: @firasans; font-weight: 300; color: #000; line-height: 1.1; }

  .content-text h3{ clear: both; margin: 0px; margin-bottom: 15px; font-size: 30px; font-family: @firasans; font-weight: 300; color: #000; line-height: 1.1; }

  .content-text h4{}
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 5px; font-size: 28px; font-family: @Roboto; font-weight: 700; color: #464646; line-height: 1.2; }
  .content-text h6{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 24px; font-family: @Roboto; font-weight: 500; color: #000; line-height: 1.3; }

  .content-text h2.sub_title.prd{ clear: both; margin: 0px; margin-bottom: 20px; font-size: 30px; font-family: @firasans; font-weight: 700; color: #2a2a2a; line-height: 1.3; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text h3.small-title{
  	font-size: 17px; font-weight: 700;
  	margin-bottom: 9px;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @firasans;
      font-weight: 300;
      font-size: 17px;
      color: #000;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: underline;
      color: #000;
      font-weight: 700;
      font-family: @firasans;
  }
  .content-text p a:hover,
  .content-text p a:focus{
  	text-decoration: none;
  }

  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-weight: 500;
      font-size: 16px;
      color: #000;
  }

  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    li{
      padding: 3px 0; line-height: 1.4;
    }
  }


// ------------------ statis page --------------------

.block_subpage_outer{
	margin: 0;
}

.default_sc.blocks_top_about.contact-1,
.default_sc.blocks_top_about.quality-1,
.default_sc.blocks_top_about.about-3,
.default_sc.blocks_top_about.about-2,
.default_sc.blocks_top_about.about-1{
	width: 100%; min-height: 788px; height: auto;
	background: url('../images/back-section_about1.jpg') center no-repeat;
	background-size: cover;

	.contents{
		max-width: 585px;
		padding-top: 19%;
		clear: both;
	}

	clear: both;
}

.default_sc.blocks_top_about.about-2{
	background-image: url('../images/back-section_about2.jpg');
}

.default_sc.blocks_top_about.about-3{
	background: #ebb93e url('../images/back-section_about3.jpg') bottom center no-repeat;
	min-height: 1325px; height: auto;
	.contents{
		max-width: 595px; text-align: center;
		margin: 0 auto;
		padding-top: 20%;
	}
}

.blocks_top_about.blocks-visionMission{
	background: #f6f6f6;
	background-color: #f6f6f6;
	padding-top: 9%;
	padding-bottom: 8%;
	.borders{
		border-right: 1px solid #dadada;
	}
	.contents{
		text-align: center;
		max-width: 475px;
		margin: 0 auto;
		h3.small-title{
			margin-bottom: 18px;
		}
		p{
			font-size: 29px; font-weight: 300; color: rgba(0,0,0, 0.6);
			line-height: 1.3;
			padding-bottom: 40px;
			height: 215px; overflow: hidden;
		}
	}
	.pictsn{
		display: block; padding-top: 18px;
	}
	clear: both;
}

.default_sc.blocks_top_about.quality-1{
	background-image: url('../images/backs_toppcn_warranty.jpg');
	min-height: 788px;
	.contents{
		padding-top: 19%;
	}
}

.blocks-middles-contact,
.blocks-middles-quality{
	.insides{
		.tops{
			max-width: 765px;
			margin: 0 auto;
			h3{
				margin-bottom: 20px;
			}
			margin-bottom: 5em;
		}
		.middles{
			h3{
				margin-bottom: 35px;
			}
			
			.lists-cross-quality_stages{
				.items{
					.pict{
						img{}
					}
					.info{
						h5, p{
							display: block; margin: 0; padding: 0; line-height: 1.3;
						}
						padding-top: 30px;
						h5{
							margin-bottom: 8px;
							font-size: 18px; font-weight: 700; color: #000;
						}
						p{}
						max-width: 374px;
					}
					clear: both;
				}
			}
			clear: both;
		}
	}
	padding-top: 8%;
	padding-bottom: 8%;
	text-align: center;
	background-color: #f6f6f6;
	clear: both;
}

.default_sc.blocks_top_about.contact-1{
	background-image: url('../images/backs_toppcn_contact.jpg');

	dl.dl-horizontal{
		dt{
			text-align: left;
			i.fa{
				color: #d70204; font-size: 19px;
			}
			width: 35px;
			padding-bottom: 8px;
		}
		dd{
			margin-left: 35px;
			text-align: left;
			font-family: @firasans;
			font-size: 17px; font-weight: 700; color: #000;
			a{
				font-family: @firasans; text-decoration: none;
				font-size: 17px; font-weight: 700; color: #000;
			}
		}
	}

	clear: both;
}

.blocksn_address{
	.borders{
		border-right: 1px solid #a9a9a9;
	}
	.texts{
		padding: 25px 0;
	}
}

.blocks-middles-contact.blocks_form{
	background-color: #fff;
	.blocksn-contact-form{
		max-width: 520px; margin: 0 auto;

		
	}
	clear: both;
}


.blocks_details_spec {
	.title{
		font-size: 22px;
		font-weight: 700;
		padding-top: 10px;
		color: #000;
		margin-bottom: 20px;
	}
	img{ max-width: 100%; }
}

.list-widget-careers.block-widget{
    max-width: 1210px; margin: 0 auto;
    .items:last-child{
        border-bottom: 0; margin-bottom: 0;
    }
    .items{
        h3, h5, p{
            display: block; margin: 0; padding: 0;
            line-height: 1.4;
        }
        padding-bottom: 45px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 80px;
        .tops{
            height: 49px; overflow: hidden;
            display: block; margin-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
            max-width: inherit;
            h3{
                font-size: 25px; font-weight: 400; color: #d30000;
            }
        }
        h5{
            font-size: 15px; font-weight: 700; color: rgba(0,0,0, 0.7); text-transform: uppercase;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px !important;
            color: #6d6e71 !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
        }
        a.btn-sents-cv{
            background: none; background-color: transparent; border-radius: 0px; border: 0px;
            box-shadow: none; padding: 0;

            display: block;
            background-color: #0095da; height: 39px; line-height: 39px; max-width: 377px;
            font-size: 15px; font-weight: 700; color: #fff; text-transform: uppercase;
        }
        a.btn-sents-cv:hover,
        a.btn-sents-cv:focus{
            background-color: #0078B1; color: #fff;
        }
    }
}

.blocks-videos-youtube{
	img{
		border-radius: 0px;
	}
}