/*----------------- Responsive ---------------------*/
@media (min-width: 1600px){
	
	.pictures_ins_about_bottom img{
		width: 100%;
	}

}

@media (max-width: 1200px){

	.wrap-slide .camera_wrap{
		/*max-height: 454px !important;*/
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	.navbar-default .navbar-brand{
		padding: 0px;
	}

}
/* Large desktop */
@media (max-width : 1135px){

	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	header.head .top-menu ul li{
		padding: 10px 7.5px;
	}
	header.head .top-menu ul li a{
		font-size: 13px;
	}
	.blocks_in_tfcs .ins_tFcs{
		margin-top: 10%;
		background: none;
	}
	.blocks_in_tfcs .ins_tFcs h4{
		font-size: 21px;
		padding-bottom: 8px;
	}
	.blocks_in_tfcs .ins_tFcs p{
		font-size: 13px;
	}
	.blocks_in_tfcs .ins_tFcs .pl110{
		padding-top: 10px;
	}
	.blocks_in_tfcs .ins_tFcs .pl110 img{
		display: none;
	}
	.outers_fcs_wrapper .blocks_n_pag{
		left: 15px;
	}

	header.head .top_header .info_header{
		font-size: 15px;
	}
	.block_bottom_banner_fcs{
		min-height: 135px; height: auto;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group input{
		width: 150px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs span{
		font-size: 20px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs p{
		font-size: 15px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs{
		// max-width: 220px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .pict{
		display: none;
	}
	section.default_sc.home_banner1 .insides .lists_banner_home1, 
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items{
		padding: 0 0.5em;
	}
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items .info .titles, 
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items .info .titles a{
		font-size: 18px;
	}
	footer.foot .insides_footer .top_footer .menu_footer ul li{
		padding: 0 5px;
	}
	footer.foot .insides_footer .infos_bottom_footer p{
		font-size: 9px;
	}
	footer.foot .insides_footer .top_footer .menu_footer ul li a{
		font-size: 13px;
	}

	.content-text h3{ font-size: 24px; } 
	.content-text p{ font-size: 16px; }
	.blocks_top_about .insides .info.descriptions{
		padding-top: 55px;
	}
	.blocks_about_greys_middle .lists_icon_commitTrust_about .items .info p, 
	.blocks_agent_greys_middle .lists_icon_commitTrust_about .items .info p{
		font-size: 17px;
	}
	.pictures_ins_about_bottom img{
		height: auto;
	}
	.pictures_ins_about_bottom .picts_right img{
		max-height: 503px; width: 100%;
	}
	.list_product_data_default .items{
		padding: 0 0.5em;
	}
	.subpage_default_outer .insides .lists_brands_data .items{
		min-height: inherit; height: auto;
	}
	.subpage_default_outer .insides .lists_brands_data .items .infos p{
		min-height: 130px; height: auto;
	}
	.subpage_default_outer .insides .lists_brands_data .items .infos{
		padding-bottom: 0; padding-top: 35px;
	}
	.box_form_filter_retails .b_forms form button{
		margin-top: 1em;
	}

}

@media (max-width : 1002px) { 

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

}

@media (max-width : 991px) { 

	.navbar-default {
		background-color: #000;
		border-color: #000;
	}

	.navbar-default .navbar-brand{
		margin: 0px;
	}
	header.head{
		background: none;
		background-color: #fff;
	}
	
}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	max-width: 200px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 0px;
    	margin-right: 0;
    }
    .navbar-default .navbar-toggle{
    	margin-right: 0;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	margin-top: 15px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.1);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	header.head .navbar-nav li a{
		color: #919191;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    background-color: rgba(231, 231, 231, 0.15);
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}

	.blocks_in_tfcs .ins_tFcs h4{
		font-size: 17px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs p{
		font-size: 13px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs{
		max-width: 320px;
		text-align: right;
	}
	.blocks_in_tfcs .ins_tFcs a{
		font-size: 11px;
	}
	.block_bottom_banner_fcs .insides{}
	.block_bottom_banner_fcs .insides .height-40{ height: 0; }
	.block_bottom_banner_fcs .insides .block_info_left{
		float: none; max-width: 380px;
		text-align: center; margin: 0 auto;
	}
	.block_bottom_banner_fcs .insides .block_info_left .fleft.descs{
		float: none; max-width: inherit;
		padding-top: 1.8em;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs p{
		font-size: 13px;
	}
	.block_bottom_banner_fcs .insides .block_info_left .descs span {
	    font-size: 19px;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group label{
		font-size: 13px;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner{
		padding-bottom: 1.5em; text-align: center;
	}
	section.default_sc.home_banner1 .insides .lists_banner_home1 .items{
		max-width: 390px; margin: 0 auto; padding-bottom: 1.8em;
	}
	section.block_brandCar_home .insides p, section.block_products_home .insides p{
		font-size: 15px;
	}
	footer.foot .insides_footer,
	footer.foot .insides_footer .social_footer,
	footer.foot .insides_footer .top_footer{
		text-align: center;
	}
	footer.foot .insides_footer .infos_bottom_footer2,
	footer.foot .insides_footer .social_footer{
		padding-top: 10px;
	}
	footer.foot .insides_footer .branchs_office{
		text-align: center;
		padding-top: 15px;
		float: none;
	}
	footer.foot .insides_footer .branchs_office img{
		margin: 0 auto; text-align: center; display: block;
	}
	.blocks_about_greys_middle .lists_icon_commitTrust_about .items, 
	.blocks_agent_greys_middle .lists_icon_commitTrust_about .items{
		max-width: 480px; margin: 0 auto; padding-bottom: 1.8em;
	}
	.blocks_top_about .insides .info.descriptions{
		padding-left: 0; text-align: center;
	}
	.blocks_top_about .insides .picture img{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.block_in_producst_pg .lefts_cont{
		padding-bottom: 5em;
	}
	.list_product_data_default .items .picture img{
		width: 100%;
	}
	.subpage_default_outer .insides .lists_brands_data .items .pic img{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.subpage_default_outer .insides .lists_brands_data .items .infos{
		text-align: center;
		padding-bottom: 1.5em;
	}
	.box_form_filter_retails .b_forms form .form-group{
		display: block;
		margin-bottom: 1em;
		margin-right: 0; text-align: center;
	}
	.box_form_filter_retails .b_forms form .form-group label{
		width: auto;
	}
	.box_form_filter_retails .b_forms form .form-group input, .box_form_filter_retails .b_forms form .form-group select{
		margin: 0 auto; display: block;
	}
	.box_form_filter_retails .b_forms form button{
		margin-top: 0.3em;
	}
	.box_form_filter_retails{
		padding-bottom: 20px;
	}

}

@media (max-width: 979px) {
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}
	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group{
		margin-right: 0;
	}
	.block_bottom_banner_fcs .insides .bx_form_banner form .form-group input{
		margin: 0 auto;
		width: auto;
		max-width: 250px;
	}
	.blocks_in_tfcs{
		display: none;
	}
	section.block_brandCar_home .insides .lists_logo_car ul li,
	footer.foot .insides_footer .top_footer .menu_footer ul li{
		display: block;
	}
	section.block_brandCar_home .insides .lists_logo_car ul li{ text-align: center; }
	section.block_brandCar_home .insides .lists_logo_car ul li img{
		text-align: center; margin: 0 auto; display: block;
	}
	.blocks_about_greys_middle .content-text p, .blocks_agent_greys_middle .content-text p{
		font-size: 18px;
	}
	.content-text h3{
		font-size: 20px;
	}
	.list_product_data_default .items{
		padding: 0;
	}
	.block_in_producst_pg .lefts_cont{
		max-width: inherit;
	}
	.blocks_middle_greenAgent .insides h3{
		font-size: 26px;
	}
	.blocks_middle_greenAgent .insides p{
		font-size: 18px;
	}
	.blocks_agent_greys_middle .insides p{
		font-size: 23px;
	}
	.blocks_agent_greys_middle .insides .info{
		font-size: 21px;
	}
	.blocks_agent_greys_middle{
		padding: 5em 0;
	}

	.box-form.tl-contact-form form .fright,
	.box-form.tl-contact-form form .fright button.btns-submit-bt{
		float: none;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}