/*----------------------- IMPORT FONT ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i');
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Open Sans', sans-serif;


// 992
@Roboto: 'Roboto', sans-serif;
@roboto_con: 'Roboto Condensed', serif;
@font_set: 'Roboto Condensed', 'Roboto', sans-serif;
@open_sans: 'Open Sans', sans-serif;

@background: #fff;

/*-------------------------- -- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: rgba(0,0,0, 0.7);
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}

.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1202px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1202px;
        /*width: 1202px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1202px;*/

    max-width: 1202px;
    width: 1202px;
    margin: 0 auto;
    padding: 0px;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.d-inline{
  display: inline-block;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

// -----------------------------------------------------------
.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}

header.head{
  position: relative;
  z-index: 15;

  width: 100%;
  height: 145px;
  background-color: transparent;
  background: url(../images/outers_back_header.jpg) repeat-x;
  .top_header{
    height: 55px;
    vertical-align: top;
    .info_header{
      font-size: 17px; font-weight: 700; color: #fff;
      font-family: @open_sans;
      i.fa{
        font-size: 17px; color: #fff;
      }
    }
  }
  .top-menu{
      padding-top: 5px;
      ul{
        text-align: right; margin: 0px; padding: 0px;
        li{
          margin: 0; padding: 11px 14px;
          display: inline-block;
          border-right: 1px solid #e2e2e2;
          a{
            font-family: @Roboto;
            color:#000;
            font-size: 14.5px;
            font-weight: 700;
            text-decoration: none;
          }
        }
        li.dropdown:hover > ul.dropdown-menu{
          display: block;
        }
        li.dropdown{
          a{

          }
          ul.dropdown-menu{
            border-radius: 0px;
            li{
              padding: 5px 0;
              border-bottom: 1px solid #ccc;
              display: block;
              a{
                text-align: left;
                font-family: @Roboto;
                color:#000;
                font-size: 13px;
                font-weight: 700;
              }
            }
          }
        }
        li:last-child{
          padding-right: 0; border-right: 0;
        }
        li:first-child{
          padding-left: 0;
        }
        li.active,
        li:hover{
          a{ text-decoration: none; color: #04a752; }
        }
      }
    }
  // end top menu
  clear: both;  
}

// .header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
// .header-affixs.affix{ top: 0px; left: 0px; }
// .header-affixs{
//     background-color: rgba(255, 255, 255, 0.90);
//     width: 100%;
//     z-index: 1000;
//     height: 75px;
//     border-bottom: 3px solid #835f20;
//     z-index: 1000;
//     .lgo-web-web_affix{
//       a{
//         font-family: @open_sans;
//         font-size: 24px; font-weight: 700; color: #252223;
//         text-decoration: none; text-transform: uppercase;
//       }
//     }
// }
// .menu-taffix{
//     text-align: right;
// }
// .menu-taffix ul{ margin: 0; padding: 0px; float: none; }
// .menu-taffix ul li{ padding: 0px; padding: 5px 15px; float: none; display: inline-block; }
// .menu-taffix ul li a{ font-family: @open_sans; font-size: 16px; font-weight: 700; display: inline-block; padding-top: 0; color: #000; padding-left: 0; padding-right: 0; text-decoration: none; text-transform: uppercase; }
// .menu-taffix ul li.active a,
// .menu-taffix ul li a:hover{ text-decoration: none; color: #835f20; background-color: transparent; }

.m-0,
h1.m-0{ margin: 0; }

.outers_fcs_wrapper{
  position: relative; z-index: 2;

  height: auto;
  max-height: 582px;
  overflow: hidden;
  .carousel-inner{
    .item{
      img{ width: 100%; }
    }
  }

  .blocks_n_pag{
    position: absolute; bottom: 0px; width: 100%; left: 0px;
    ol.carousel-indicators{
      width: auto; text-align: left;
      margin-left: 0; left: 0px;
    }
  }

  ol.carousel-indicators{
    li{
      margin: 0 2px;
      width: 25px; height: 6px;
      background-color: #00a64f;
      border: 0px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      margin: 0 2px;
      width: 25px; height: 6px;
      background-color: #fff;
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 30%;
      width: 100%;

      .bxsl_tx_fcs{
        max-width: 650px; margin: 0 auto;
        text-align: center;
        h3{
          font-size: 35px; font-weight: 600; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 5px;
        }
        span{
          display: block;
          font-size: 23px; font-weight: 500; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        p{
          font-size: 17px; font-weight: 400; color: #fff;
          line-height: 1.3;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
      }
    }
    img{
      margin: 0;
    }
}

.block_bottom_banner_fcs{
  background: url(../images/back_banners_topgreen_home.jpg) no-repeat;
  width: 100%; height: 135px;
  background-size: 100% 100%;
  .insides{
    .block_info_left{
      .pict{
        img{ margin: 0; }
      }
      .descs{
        max-width: 253px;
        padding-top: 30px;
        span{
          display: block;
          padding-bottom: 5px;
          font-family: @roboto_con;
          font-size: 21px; font-weight: 700; color: #fff;
        }
        p{
          font-family: @roboto_con;
          font-size: 16px; font-weight: 400; color: #fff;
          line-height: 1.3;
        }
      }
    }
    .bx_form_banner{
      form{
        .form-group:last-child,
        .form-group.last{
          margin-right: 0;
        }
        .form-group{
          margin-bottom: 0; margin-right: 10px;
          label{
            font-family: @roboto_con; 
            font-size: 15px; font-weight: 400; color: #fff;
            text-transform: uppercase;
            margin-bottom: 3px;
          }
          input{
            width: 205px; height: 32px;
            background-color: #fff; border-radius: 0px; border: 0px;
            box-shadow: none;
          }
        }
        button{
          width: 145px;
          height: 32px;
          background-color: #00a64f;
          border-radius: 0px; border: 0px; box-shadow: none;
          font-family: @roboto_con;
          font-size: 15px; font-weight: 400; color: #fff;
        }
      }
      clear: both;
    }
    clear: both;
  }
}

section.default_sc{
  .container{
    padding-top: 50px; padding-bottom: 50px;
  }
}
section.default_sc.home_banner1{
  background-color: #e4e4e4;
  width: 100%; min-height: 250px; height: auto;
  .container{
    padding-bottom: 40px;
  }
  .insides{
    .lists_banner_home1{
        .items{
          .picture{
            img{}
          }
          .info{
            padding-top: 12px;
            .titles a,
            .titles{
              font-family: @roboto_con;
              font-size: 21px; font-weight: 700; color: #444444;
              text-decoration: none;
            }
            .titles:before{
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              content: "\f054";
              color: #00a64f;
              font-size: 18px;
              padding-right: 10px;
            }            
          }
          clear: both;
        }
      clear: both;
    }
    // end list banner

  }
}
section.home_banner_brands{
  padding-top: 17px;
  background-color: #eee;
  padding-bottom: 25px;
  border-bottom: 8px solid #e4e4e4;
  ul{
    margin: 0; margin-bottom: 0;
    li{}
  }
  .d-inline{
    font-family: @roboto_con;
    font-size: 18px; font-weight: 700; color: #000;
  }
}

a.btns_greens_def,
button.btns_greens_def{
  background: none; 
  // border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;
  border-radius: 0px;
  background-color: #00a64f;
  padding: 8px 15px;
  text-transform: uppercase; 
  font-family: @roboto_con;
  font-size: 15px; font-weight: 400; color: #fff;
}
a.btns_greens_def:hover,
a.btns_greens_def:focus,
button.btns_greens_def:hover,
button.btns_greens_def:focus{
  opacity: 0.95;
  box-shadow: none; border: 0px;
  outline: none; background-color: #058944;
  color: #fff;
}

section.block_brandCar_home,
section.block_products_home{
  min-height: 180px; height: auto;
  width: 100%;
  background-color: #fff;
  .insides{
    padding: 40px 0 35px;
    h3{
      margin: 0; padding: 0;
      line-height: 1;
      font-family: @roboto_con;
      font-size: 18px; font-weight: 700; color: #000; text-transform: uppercase;
      padding-bottom: 6px;
    }
    p{
      margin: 0; padding: 0;
      line-height: 1.3;
      font-family: @roboto_con;
      font-size: 16px; font-weight: 300; color: #000;
    }
  }
  border-bottom: 8px solid #e4e4e4;
}

.lists_product_data{
    margin: 0; padding: 0; 
    margin-bottom: 20px;
    // margin-right: -20px;

    clear: both;
    .items{
        margin: 0;
        display: inline-block;
        vertical-align: top;
        max-width: 210px;
        text-align: center;
        margin-bottom: 20px;
        .picture{
          min-height: 190px;
          max-height: 190px;
            img{
                margin: 0; margin-bottom: 0;
                max-width: 240px;
                max-height: 190px;
            }
        }
        .info{
          padding: 0 10px;
            a{
                color: #000; text-decoration: none;
            }
            h4{
                margin: 0; padding: 0;
                font-family: @roboto_con;
                font-size: 16px; font-weight: 400; color: #000;
                line-height: 1.4;
                // overflow: hidden;
                // clear: left;
                // text-align: center;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                a{
                  font-family: @roboto_con; font-size: 16px; font-weight: 400; color: #000;
                }
            }
        }
    }
}
// end lists_product_home
section.block_brandCar_home{
  min-height: 180px; height: auto;
  width: 100%;
  background-color: #fff;
  border-bottom: 0px;
  .insides{
    .lists_logo_car{
      ul{
        margin: 0; margin-bottom: 0;
        li{
          padding: 0;
        }
      }
    }
    clear: both;
  }
}

footer.foot{
  position: relative;
  background-color: #e4e4e4;
  min-height: 175px;
  padding-bottom: 1.8em;
  height: auto;
  z-index: 1;
  font-family: @roboto_con;
  font-size: 12px; font-weight: 700; color: #fff;
  .insides_footer{
    font-family: @roboto_con;
    font-size: 12px; font-weight: 700; color: #fff;
    .top_footer{
      padding-bottom: 12px;
      border-bottom: 1px solid #d4d4d4;
      margin-bottom: 15px;
      .menu_footer{
        padding-top: 20px;
        ul{
          margin: 0; padding: 0; margin-bottom: 0;
          li{
            padding: 0 8px;
            a{
              text-decoration: none;
              font-size: 14px;
              font-family: @roboto_con; font-weight: 700; color: #5c5c5c;
              line-height: 1;
            }
          }
        }
      }
    }
    .lgo_footers{
      display: block;
      a{
        display: inline-block;
      }
    }
    .infos_bottom_footer{
      h5{
        margin: 0; padding: 0;
        font-family: @roboto_con; font-size: 14px; font-weight: 700; color: #3b3b3b; text-transform: uppercase;
        padding-bottom: 8px;
      }
      p{
        margin: 0; padding: 0;
        line-height: 1.3;
        font-family: @roboto_con; font-size: 11px; font-weight: 400; color: #444444;
        padding-right: 10px;
      }
    }
    .infos_bottom_footer2{
      font-family: @roboto_con; font-size: 16px; font-weight: 400; color: #454545;
      i.fa{
        font-size: 16px; color: #0ba956;
      }
      a{
        text-decoration: none;
        color: #454545;
      }
    }
    .social_footer{
      padding-top: 14px;
      font-family: @roboto_con; font-size: 14px; font-weight: 700; color: #3b3b3b;
      a{ text-decoration: none;
        font-size: 18px; color: #000;
      }
      a:hover{
        text-decoration: none;
        i.fa{ opacity: 0.9; }
      }
    }

    .t-copyrights{
      font-family: @Roboto; font-size: 11px; font-weight: 400; color: #444444;
      a{
        font-family: @Roboto; font-size: 11px; font-weight: 400; color: #444444; text-decoration: none;
      }
    }
    .branchs_office{
      font-family: @roboto_con; font-size: 14px; color: #3b3b3b; font-weight: 700; line-height: 1.4;
      clear: both;
    }
    clear: both;
  }
  clear: both;
}
// end footer

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.pict_full{
  img{ width: 100%; max-width: 100%; }
}

section.headers_inside{
  -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow:    4px 4px 9px 0px rgba(0, 0, 0, 0.35);
  box-shadow:         4px 4px 9px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 15;
}
// inside page

section.block_subpage_outer{
  min-height: 350px; height: auto;
  width: 100%;
  margin: 0; padding: 0;
  background-color: #e4e4e4;
  .blocks_breadcrumb{
    background-color: #e4e4e4;
    padding-top: 8px;
    min-height: 45px; height: auto;
    ol.breadcrumb{
      margin: 0; margin-bottom: 0;
      background: none; background-color: transparent; border-color: transparent;
      li{
        font-family: @Roboto; font-size: 13px; font-weight: 400; color: #666666;
        a{
          text-decoration: none;
          font-family: @Roboto; font-size: 13px; font-weight: 400; color: #666666;
        }
      }
      li.active{
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  clear: both;
}
.blocks_top_about{
  .insides{
    .picture{
      img{}
    }
    .info.descriptions{
      padding: 70px 0px 0px 45px;
      clear: both;
    }
    .info.descriptions.contactpg{
      p>strong,
      p>b{
        font-size: 18px; font-weight: 700; color: #00a64f;
      }
      p{
        a{ color: #000; text-decoration: none; font-size: 18px; font-weight: 300; }
      }
    }
    clear: both;
  }
}
.blocks_agent_greys_middle,
.blocks_about_greys_middle{
  min-height: 450px; height: auto; width: 100%;
  padding-top: 205px;
  background: #e4e4e4 url(../images/backs_grey_topcon_about1.jpg) top center no-repeat;
  .content-text{
    h3{
      color: #000;
    }
    p{
      font-family: @Roboto; font-size: 25px; font-weight: 400; color: #575757;
      line-height: 1.3;
    }
  }
  .lists_icon_commitTrust_about{
      .items{
          .pict{
            img{}
          }
          .info{
            padding-top: 30px;
            h5{
              margin: 0; padding: 0;
              font-family: @roboto_con; font-size: 22px; font-weight: 700; color: #000;
              line-height: 1.2;
              padding-bottom: 6px;
            }
            p{
              margin: 0; padding: 0;
              font-family: @Roboto; font-size: 18px; font-weight: 300; color: #575757;
              line-height: 1.4;
            }
          }
      }
    clear: both;
  }
  // end list icon trust aboout
}
.blocks_agent_greys_middle{
 background: none;
 background-color: #e4e4e4;
 padding-top: 140px;
 padding-bottom: 150px;
   .insides{
        p{
            margin: 0; padding: 0;
            font-family: @roboto_con; font-size: 25px; font-weight: 400; color: #464646;
            line-height: 1.3;
        }
        h4{
            margin: 0; padding: 0;
            font-family: @roboto_con; font-size: 31px; font-weight: 700; color: #000;
            line-height: 1;
        }
      .info{
         margin: 0; padding: 0;
        font-family: @roboto_con; font-size: 28px; font-weight: 400; color: #000;
        i.fa{
          color: #00a64f; font-size: 25px;
        }
        a{
          color: #000; text-decoration: none;
        }
      }
  }
  clear: both;
}

.maw670{
  max-width: 670px;
}

.pictures_ins_about_bottom{
  img{ height: 100%; }
  clear: both;
}
.blocks_middle_greenAgent{
  width: 100%; min-height: 300px; height: auto;
  background-color: #00a64f;
  .insides{
    text-align: center;
    padding: 90px 0;
    h3{
      margin: 0; padding: 0;
      font-family: @roboto_con; font-size: 32px; font-weight: 400; color: #fff;
      line-height: 1.2;
      margin-bottom: 15px;
    }
    p{
      margin: 0; padding: 0;
      font-family: @Roboto; font-size: 21px; font-weight: 300; color: #fff;
      line-height: 1.3;
    }
  }
}

// picture illutration
.picture_illustrations{
    background: url(../images/ill-brands_1.jpg) top center no-repeat;
    background-size: cover;
    min-height: 375px; height: auto;
    width: 100%;
}
.picture_illustrations.p_brand{
    background-image: url(../images/ill-brands_1.jpg);
}
.picture_illustrations.p_career{
    background-image: url(../images/ill-career-1.jpg);
}
.picture_illustrations.p_network{
    background-image: url(../images/ill-network-1.jpg);
}

.subpage_default_outer{
  .insides{
    padding: 50px 0 50px;
    
    .lists_brands_data{
      .items{
        background-color: #f6f6f6;
        min-height: 310px; height: auto; width: 100%;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.2);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 25px;
        .pic{
          img{}
        }
        .infos{
          padding: 60px 45px 25px;
          text-align: left;
          h3{
            margin: 0; padding: 0;
            font-family: @roboto_con;
            font-size: 24px; font-weight: 700; color: #2a2a2a;
            line-height: 1;
            padding-bottom: 9px;
          }
          p{
            margin: 0; padding: 0;
            font-family: @roboto_con;
            font-size: 18px; font-weight: 300; color: #2a2a2a;
            line-height: 1.3;
            height: 145px; max-height: 145px; overflow: hidden;
          }
          a.btns_greens_def{
            text-transform: inherit;
            font-size: 17px; font-weight: 700; color: #fff;
            font-family: @Roboto;
            padding: 7px 35px;
            border-radius: 5px;
          }
        }
        clear: both;
      }
      clear: both;
    }
    // end list brands

  }
  clear: both;
}


.list_product_data_default{
  .items{
    margin-bottom: 20px;
      .picture{
        img{
          border-radius: 5px;
        }
      }
      .info{
        text-align: left;
        padding-top: 23px;
        h4{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 24px; font-weight: 700; color: #2a2a2a;
          line-height: 1.2;
          padding-bottom: 7px;
          overflow: hidden;
          clear: left;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 18px; font-weight: 300; color: #2a2a2a;
          line-height: 1.4;
        }
        a.views_products_c{
          text-decoration: none;
          margin: 0; display: block;
          padding: 0;
          font-family: @Roboto; font-size: 17px; font-weight: 700; color: #00a64f;
        }
      }
    clear: both;
    }
  clear: both;
}
.list_product_data_default.category_l{
  .items{
    margin-bottom: 50px;
    .info{
      p{
        height: 100px; max-height: 100px; overflow: hidden;
      }
    }
  }
}

.list_product_data_default.product_l{
  .items{
    margin-bottom: 45px;
    // min-height: 565px;
    min-height: 635px;
    .info{
      h4{
        font-size: 20px;
        padding-bottom: 5px;
      }
      h6{
        margin: 0; padding: 0;
        font-family: @roboto_con;
        font-size: 17px; font-weight: 700; color: #2a2a2a;
        line-height: 1.2;
        padding-bottom: 5px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p{
        font-size: 17px;
        margin-bottom: 15px;
      }
    }
  }
}

.block_in_producst_pg{
    .lefts_cont{
      max-width: 272px;
      h3.sub_title{
        margin: 0;
        font-family: @roboto_con;
        font-size: 25px; font-weight: 700; color: #2a2a2a;
      }
      h3.sub_title:after{
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid #00a64f;
        margin: 8px 0 13px;
      }
      ul{
        margin: 0; padding: 0; list-style: none;
        li{
          padding: 8px 0;
          border-bottom: 1px solid #c3c3c3;
          a{
            text-decoration: none;
            font-family: @roboto_con; font-size: 17px; font-weight: 400; color: #8d8d8d;
          }
        }
        li:hover,
        li:focus,
        li.active{
          a{text-decoration: none; color: #000;}
          a:after{
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f178";
            color: #00a64f;
            font-size: 18px;
            float: right;
          }
        }
      }
    }
    clear: both;
}
.maw735{
  max-width: 735px;
}
.box_form_filter_retails{
  min-height: 120px; height: auto;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.18);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.18);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.18);
  border-radius: 10px;
  padding: 20px 20px 15px;
  p{
    margin: 0; padding: 0;
    font-family: @Roboto;
    font-size: 13px; font-weight: 400; color: #666666;
    margin-bottom: 20px;
  }
  .b_forms{
    form{
      margin: 0; margin-bottom: 0;
      .form-group{
        margin-right: 23px;
        label{
          text-align: left;
          font-family: @Roboto;
          font-size: 16px; font-weight: 400; color: #848384;
          width: 110px;
        }
        select,
        input{
          width: 274px; height: 33px;
        }
      }
      button{
        width: 265px; height: 33px;
        background-color: #00a64f;
        font-size: 18px; font-weight: 400; color: #fff;
        font-family: @Roboto;
        padding-top: 3px;
        i.fa{
          font-size: 18px; color: #fff;
        }
      }
    }
    clear: both;
  }
  clear: both;
}

.content-text.network_pg .mb30{
  margin-bottom: 35px;
}
.content-text.network_pg p{
  font-size: 13px; line-height: 1.5;
  font-family: @Roboto;
  b,strong{
    font-family: @Roboto;
    font-size: 18px; font-weight: 700;
  }
}

.blocks_in_tfcs{
  position: absolute;
  z-index: 350;
  top: 0px; right: 0px;
  width: 100%;
  .ins_tFcs{
    width: 440px;
    background: url(../images/backs_txs_infcs.png) left bottom no-repeat;
    clear: both;
    position: relative;
    margin-top: 70px;
    float: right;
    p,
    h4{
      text-align: center;
    }
    h4{
      margin: 0; padding: 0;
      font-family: @roboto_con; font-size: 28px; font-weight: 400; color: #fff;
      line-height: 1;
      margin-bottom: 10px;
    }
    p{
      margin: 0; padding: 0;
      font-family: @roboto_con; font-size: 15px; font-weight: 400; color: #d1d1d1;
      line-height: 1.4;
    }
    a{
      padding-left: 30px;
      font-family: @Roboto; text-decoration: none;
      font-size: 14px; font-weight: 400; color: #fff;
      top: -20px;
      position: relative;
    }
    a:hover,
    a:focus{
      color: #d2efe0; text-decoration: none;
    }
    .pl110{
      padding-left: 110px;
    }
  }
}

/*----------------------- Midle Text Content -----------------*/
.content-text{
      font-family: @roboto_con;
      font-weight: 300;
      font-size: 18px;
      color: #000;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @Roboto; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{ clear: both; margin: 0px; margin-bottom: 15px; font-size: 15px; font-family: @Roboto; font-weight: 700; color: #000; line-height: 1.3; letter-spacing: 1px; text-transform: uppercase; }
  .content-text h2{  }
  .content-text h3{ clear: both; margin: 0px; margin-bottom: 20px; font-size: 28px; font-family: @roboto_con; font-weight: 400; color: #00a64f; line-height: 1.3; }
  .content-text h4{}
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 5px; font-size: 28px; font-family: @Roboto; font-weight: 700; color: #464646; line-height: 1.2; }
  .content-text h6{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 24px; font-family: @Roboto; font-weight: 500; color: #000; line-height: 1.3; }

  .content-text h2.sub_title.prd{ clear: both; margin: 0px; margin-bottom: 20px; font-size: 30px; font-family: @roboto_con; font-weight: 700; color: #2a2a2a; line-height: 1.3; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @roboto_con;
      font-weight: 300;
      font-size: 18px;
      color: #000;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: underline;
      color: #00a64f;
      font-weight: 700;
      font-family: @roboto_con;
  }
  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-family: @open_sans;
      font-weight: 500;
      font-size: 16px;
      color: #000;
  }
  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    li{
      padding: 3px 0; line-height: 1.4;
    }
  }

.box-form.tl-contact-form{
  // max-width: 845px; 
  // min-width: 845px;
  // float: right;
  // background-color: #f2f2f2;
  border: 1px solid transparent;
  max-width: 950px;
  margin: 0 auto; 
  text-align: left;
  form{
    .form-group{ 
      margin: 0; margin-left: 0; margin-right: 0;
      margin-bottom: 18px;
      label{
        font-family: @roboto_con;
        font-weight:400; font-size:15px; color:#fff;
        margin-bottom: 3px; text-align: left;
        text-transform: uppercase;
      }
      input{
        border:0px;
        background: none; background-color: #fff;
        border-bottom: 0px; border-radius: 0px;
        text-shadow:none; box-shadow: none;
        // max-width: 400px;
        font-size: 14px;
      }
      textarea{
        margin: 0;
        background: none;
        background-color: #fff;
        border: 0px;
        border-bottom: 0px; border-radius: 0px;
        box-shadow: none;
        border-bottom:0;
        text-align: left;
      }
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;

      width: 144px; height: 32px;
      padding-top: 4px;
      text-transform: uppercase; 
      font-family: @roboto_con;
      font-size: 15px; font-weight: 400; color: #fff;
      border: 3px solid #fff;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
      background-color: transparent;
    }
  }
}

.lines-grey{
  height: 2px;
  background-color: #8a8988;
}

.inline-pict{
  display: inline-block;
  vertical-align: middle;
}

.contacts_text.content-text{
  p{
    margin: 0; padding: 0;
    font-family: @open_sans;
    font-size: 24px; color: #000; font-weight: 500;
  }
  p.c_phone{
    line-height: 1.1;
    a{
      text-decoration: none;
      font-family: @roboto_con;
      font-size: 33px; font-weight: 700; color: #000;
    }
    font-family: @roboto_con;
    font-size: 33px; font-weight: 700; color: #000;
    i.fa{
      color: #7b5512; font-size: 30px;
    }
    small a,
    small{
      text-decoration: none;
      font-family: @Roboto;
      font-size: 15px; font-weight: 700; color: #000;
    }
  }
  .maps_contact{
    max-width: 661px; height: 400px;
    .embed-container{
      border: 3px solid #fff;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 50, 0.5);
      box-shadow:         4px 4px 8px 0px rgba(50, 50, 50, 0.5);
    }
  }
  address{
    line-height: 1.4;
    b,strong{ font-size: 20px; font-weight: 700; color: #000; font-family: @open_sans; }
    font-size: 15px; font-weight: 500; color: #000; font-family: @open_sans;
    span.green{
      font-size: 17px; font-weight: 500; font-family: @open_sans;
      color: #75a149;
    }
  }
}

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}

.boxs_fill_information_order{
  h3{
    margin: 0; color: #000;
    margin-bottom: 15px;
  }
  .form-group{
    label{
      text-align: left;
      font-size: 13px;
      font-weight: 400; color: #000;
      font-family: @roboto_con;
    }
    span.required{
      margin-bottom: 0;
      font-size: 13px; color: red; display: inline-block;
    }
    input{
      background-color: #fff;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
      font-family: @roboto_con;
      font-size: 13px; font-weight: 400;
    }
    select,textarea{
      font-family: @roboto_con;
      border: 0px; border-radius: 0px;
      box-shadow: none;
      border: 1px solid #ccc;
    }

  }
  button.btn{
      border: 0px;
      font-size: 13px; font-weight: 500; color: #fff;
      text-transform: uppercase;

      background-color: #7b7b7b;
      padding: 7px 18px;
      border-radius: 0px;
      font-family: @Roboto;
    }
    button.btn:hover,
    button.btn:focus{
      background-color: #3C3B3A;
      color: #fff;
    }
}
.outer-cont-carts{
  font-family: @roboto_con;
    .left-conts-tabl-cart{
        // ol.breadcrumb{
        //     margin-bottom: 0px;
        //     padding: 0px;
        //     li{
        //         a{ text-decoration: none; font-size: 20px; font-weight: 400; color: #848482; }
        //         a:hover{ text-decoration: none; color: #000; }
        //     }
        //     li.active{
        //         a{ color: #000; }
        //     }
        // }

        table.shopcart{
            margin-bottom: 25px;
            thead{
                td{
                    background-color: #7b7b7b;
                    font-size: 12px; font-weight: 400; color: #fff !important;
                    font-family: @roboto_con;
                }
            }
            tr{
                td{ padding-left: 17px;
                    font-size: 12px; font-weight: 400; color: #151515;
                    font-family: @roboto_con;
                    span{
                      margin: 0;
                    }
                    span.price{ font-size: 15px; font-weight: 400; color: #151515; }
                    input[type=number]{
                        width: 40px;
                        height: 22px;
                        padding-left: 5px;
                    }
                    .pic{
                      img{
                        margin: 0;
                        max-width: 90px;
                        max-height: 75px;
                        border: 1px solid #ccc;
                      }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding-top: 19px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #aaaaa7;
                        span.name{ font-size: 14px; font-weight: 400; color: #151515; }
                        span.cat{ font-size: 10px; font-weight: 700; color: #151515; }
                        span.totl{
                            font-size: 14px; font-weight: 600; color: #151515;
                        }
                        span.name{
                          font-size: 16px; font-weight: 300; color: #151515;
                        }
                        span.cat{
                          font-size: 14px; font-weight: 700; color: #151515;
                        }
                    }
                }
                tr.sub_total{
                    td{
                        padding-bottom: 9px;
                        padding-top: 9px;
                    }
                }
            }
            .btn-delete-cart{
                i.fa{ color: #000; }
            }
        }
    }
    
    a.btn{
      border: 0px;
      font-size: 12px; font-weight: 500; color: #fff;
      text-transform: uppercase;

      background-color: #7b7b7b;
      padding: 7px 18px;
      border-radius: 0px;
      i.fa{
        font-size: 16px;
      }
    }
    a.btn:hover,
    a.btn:focus{
      background-color: #3D3D3D;
      color: #fff;
    }
    a.btn.btn-delete-cart{
      background-color: transparent;
    }
}

// .bloc_breadcrumb{
//   ol.breadcrumb{
//     background-color:transparent;
//     li{
//       font-size: 15px;
//       font-weight: 700;
//       color: #000;
//       font-family: Rajdhani,sans-serif;
//       a{
//         text-decoration: none;
//         font-size: 15px;
//         font-weight: 700;
//         color: #000;
//         font-family: Rajdhani,sans-serif;
//       }      
//     }
//   }
// }

.customs_modal_popup{
  .insets_popup{
    .btns_close:hover,
    .btns_close:focus{
      text-decoration: none;
      outline: none;
    }
    .btns_close{
      width: 27px; height: 27px;
      background-color: #00a64f;
      padding: 3px;
      border-radius: 15px; float: right;
      
      i.fa{
        font-size: 16px; color: #fff;
      }
    }

    .info{
      p{
        font-family: @roboto_con;
        font-size: 17px; font-weight: 300; color: #2a2a2a;
        strong,b{
          font-family: @roboto_con;
          font-size: 20px; font-weight: 700; color: #2a2a2a;
        }
      }
    }
  }
  clear: both;
}